<ul>
    <li *ngFor="let item of tasks" [myTask]="item">
        {{item.name | lowercase}} - {{item.value | formatCurrency}} - {{item.dateAdd | formatDate}} 
    </li>
</ul>

  <!--    
  <li *ngFor="let item of tasks">
      {{item.name | uppercase}}
    </li>
    
  <li [id]="'list-' + item.name"
      [style.color]="item.value > 0 ? 'green' : 'red'"
      *ngFor="let item of tasks" [innerHtml]="item.name + ' - ' + item.value">
    </li>

    <li [id]="'list-' + item.name"
      [ngClass]="{'item-gree' :item.value > 0, 'item-red' :item.value <= 0 }"
      *ngFor="let item of tasks" [innerHtml]="item.name + ' - ' + item.value">
    </li>
  -->

